<div class="page-header">
	<h1>
		My Challenges 
		<a href="/challenges/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>                 <!--CETTE PARTIE DOIT ETRE MODIF POUR CHARGER LA PAGE DE CREATION D'UN CHALLENGE-->
			New challenge
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Challenges...</p>
</div>

<table class="table table-bordered table-striped" ng-show="challenge.challenges">
	<thead>
		<tr>
			<th>_id</th>
			<th>Prop</th>
			<th>Due date</th>
			<th>Amount</th>
			<th>Title</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="challenge in challenge.challenges">
			<td>{{ challenge._id }}</td>
			<td>{{ challenge.proprietary_user_id }}</td>
			<td>{{ challenge.due_date }}</td>
			<td>{{ challenge.amount }}</td>
			<td>{{ challenge.title }}</td>
			<!--CETTE PARTIE DOIT ETRE MODIF POUR CHARGER LES ICONES SUPPRIMER CHALLENGE/VALIDER/ETC-->
			<td class="col-sm-2">
				<a ng-href="/users/{{ person._id }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="user.deleteUser(person._id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
