<!DOCTYPE html>
<html lang="en">
<head>
	
</head>

<body>
	<div class="page-header">
		<h1 ng-if="challenge.type == 'create'">Create Challenge !</h1>
		<h1 ng-if="challenge.type == 'edit'">Edit Challenge</h1>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 ng-if="challenge.type == 'create'">Set the parameters of the challenge !</h5>
			<h5 ng-if="challenge.type == 'edit'">Change the parameters of the challenge ?</h5>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" ng-submit="user.saveUser()">

			<div class="form-group">
				<label class="col-sm-2 control-label">Title</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" ng-model="challenge.challengeData.title">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Amount</label>
				<div class="col-xs-4">
					<input type="text" class="form-control" ng-model="challenge.challengeData.amount">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Due date</label>
				<div class=" col-xs-4">
				<div class="input-group date" id="datePicker">
				
		        	<input type="text"class="form-control" ng-model="challenge.challengeData.due_date">
		        	<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		        </div>	
		        </div>
			</div>

			


			<div class="form-group">
				<label class="col-sm-2 control-label">Theme</label>
				<div class="col-xs-2"> 
				<select type="text" class="form-control" ng-model="challenge.challengeData.theme">
				    <option value="Health">Health</option>
				    <option value="Productivity">Productivity</option>
				    <option value="Money">Money</option>
				    <option value="Bullshit">Bullshit</option>
				    <option value="Other">Other</option>
				</select>
				</div>
			</div>


		</div>
		</div>
	</div>
	</form>

	<script type="text/javascript">

	$(document).ready(function() {
      $('#datePicker')
          .datepicker({
              format: 'yyyy-mm-dd'
          })
          .on('changeDate', function(e) {
              // Revalidate the date field
              $('#eventForm').formValidation('revalidateField', 'date');
          });

	  
	});
	</script>

	
/////////////////////////////LA LISTE DES TACHES DU CHALLENGE///////////////////////////////////////
<div class="form-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5 ng-if="challenge.type == 'create'">Define your tasks !</h5>
			<h5 ng-if="challenge.type == 'edit'">Modify your tasks ?</h5>
		</div>
		<div class="panel-body">
			<div class="container">
		        <div class="control-group" id="fields">
		            <div class="controls"> 
		                <form role="form" autocomplete="on">

		                    <div class="entry input-group col-xs-4 col-xs-offset-2">
		                    	<span class="input-group-btn">
			                        <input class="form-control" name="fields[]" type="text" placeholder="Tape the title of your task" ng-model="challenge.challengeData.tasks"/>
			                    	<span class="glyphicon glyphicon-plus"></span>
			                            <button class="btn btn-success btn-add" type="button">
			                                <span class="glyphicon glyphicon-plus"></span>
			                            </button>
			                        </span>

		                    </div>
		                </form>
		            </div>
		        </div>
			</div>
		</div>
	</div>
</div>
			
/////////////////////////LE BOUTON POUR SUBMIT/////////////////////////////////////////////////////////
		
	<form class="form-horizontal" ng-submit="challenge.saveChallenge()">
	<div class="form-group">
		<div class="col-sm-offset-2 col-xs-6">
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="challenge.type == 'create'">Let's go !</button>
			<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="challenge.type == 'edit'">Update !</button>
		</div>
	</div>

	</form>
	

	<div class="row show-hide-message" ng-show="challenge.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ challenge.message }}
		</div>

	</div>
	</div>


</body>


